<!doctype html>
{%load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

    <!-- Left Panel -->

    <!-- Right Panel -->
{% include 'inc.html' %}
    <div id="right-panel" class="right-panel">

        <!-- Header-->
      
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


          <div class="card">
                      <div class="card-header">
                        <strong>Feedback</strong> Form
                      </div>
                      <div class="card-body card-block">
                        <form  role="form" method="post"  enctype="multipart/form-data">
                            {%csrf_token%}
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Enter Your Feedback</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="text" placeholder="Text" class="form-control"><small class="form-text text-muted">All Feedbacks Are Anonymous</small></div>
                          </div>
                       
                      </div>
                      <div class="card-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Reset
                        </button>
                      </div>
                       </form>
                    </div>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->


</body>
</html>
