<!doctype html>
{%load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% include 'inc.html' %}

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
      
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


         <div class="card">
                              
                                    <div class="card-body">


 <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-user"></i><strong class="card-title pl-2">Profile </strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="{% static 'images/admin.jpg' %}" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">User Name - {{user}}</h5>
                                    <div class="location text-sm-center"><i class="fa fa-map-marker"></i> India</div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="col-md-12">





 



                  <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Previous Bookings</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                              <thead >
                                <tr>
                                    <th scope="col">Receipt ID</th>
                                  <th scope="col">Booking</th>
                                  <th scope="col">Date Booked</th>
                                                                    <th scope="col">Event Date</th>

                                  <th scope="col">Total Cost</th>
                                 
                                   <th scope="col">Items Booked</th>
                                 
                                 
                                  
                                  
                                </tr>
                              </thead>
                              <tbody>
                                     {% for d in s%}
                                    
                                    <tr class="odd gradeX">
                    
                                                            <td><span class="first-letter">{{d.bookid|truncatechars:20|slice:"-4"}}</span></td>

                                        <td><span class="first-letter">{{d.eventname}}</span></td>
                                        
                                        <td><span class="first-letter">{{d.date}}</span></td>
                                                                                <td><span class="first-letter">{{d.eventdate}}</span></td>

                                        <td><span class="first-letter">{{d.totalcost}}</span></td>
                                     {%if d.c1 != "NA" %}
                                       <td><span class="first-letter">{{d.c1}}</span></td>
                                                                               {%endif%}

                                        {%if d.c2 != "NA" %}
                                        <td><span class="first-letter">{{d.c2}}</span></td>
                                        {%endif%}
                                                                                {%if d.c3 != "NA" %}

                                         <td><span class="first-letter">{{d.c3}}</span></td>
                                                                                {%endif%}

                                                                                {%if d.c4 != "NA" %}

                                        <td><span class="first-letter">{{d.c4}}</span></td>
                                                                                              {%endif%}
                                                                                        {%if d.c5 != "NA" %}

                              <td><span class="first-letter">{{d.c5}}</span></td>
                                        {%endif%}

                    <td>  

                                       {%endfor%}
                                    </tr>
          
                            
                                   
                                </tbody>
                            </table>

                        </div>

                </div>



 

    </div><!-- /#right-panel -->

    <!-- Right Panel -->


</body>
</html>
